############################################
## LOCAL FILES
############################################

/*.bat
/\!*
.DS_Store
*.pdf

############################################
## LATEX TEMPORARY FILES
############################################

*.log
*.aux
*.bbl
*.blg
*.tex.undo
*.tex.bak
*.~te
*.$te
*.DVX
*.DDF
*.synctex.gz
*.synctex.gz(busy)
*.fdb_latexmk
*.fls
*.out
*.toc
*.lof
*.lot
*.idx
*.ilg
*.ind
*.xdv

*.dvi
*.ps

############################################
# PRIVATE DRAFTS
draft*.tex
draft*.pdf
